@model GameStore.Models.Product

@{
    ViewData["Title"] = "Chỉnh sửa sản phẩm";
}

<div class="crud-container">
    <h1>Chỉnh sửa sản phẩm</h1>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit" class="crud-form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group mt-3">
                    <input type="submit" value="Lưu" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
                </div>
            </form>
        </div>
    </div>
</div>